# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Logs
logs
*.log

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# OS
.DS_Store

# 禁止格式化的文件类型（TypeScript 项目不应有这些文件）
**/*.vue.js
**/vite.config.js
**/tailwind.config.js
**/postcss.config.js
/src/**/*.js